.dir-manager-container {
    width: 440px;
    margin: 0 auto;
    margin-top: 20px;

    .dir-tool {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dir-path {
        padding-left: 10px;
        margin-bottom: 0; 
        width: 270px;
        height: 30px;
        line-height: 30px;
        background: #bbb;
        // background: #f00;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: text;
    }

    .btn {
        margin-left: 14px; 
        padding: 0 10px;
        height: 30px;
        font-size: 16px;
        background: transparent;
        outline: none;
        border: 1px #999 solid;

        &:active {
            background: #999;
            color: #fff;
        }
    }

    label {
        display: block;
        margin-top: 10px;

        input {
            margin-right: 6px;
        }
    }
}