.dir-manager-container {
    width: 600px;
    margin: 0 auto;

    .dir-path {
        padding-left: 10px;
        width: 350px;
        height: 20px;
        line-height: 20px;
        background: #bbb;
    }
}